body {
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-family: "Sora", sans-serif;
margin: 0;
}

h1 {
  font-size: 8rem;
  letter-spacing: -0.2rem;
  margin-left: 30%;
}

p {
  font-size: 1rem;
  color: rgb(85, 85, 85);
  font-weight: 400;
}

.iframe{
    border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: .8rem;
        margin: .5rem;
}

.center{
    margin-left: 30.5%;
    margin-right: 30.5%;
    margin-top: -5rem;
    margin-bottom: 7rem;
}
